
@{
    ViewData["Title"] = "TrainRegressionModel";
    Layout = "~/Areas/Admin/Views/Layout/AdminLayout.cshtml";
}

<main class="main-content" id="main-content">

    <h2>@ViewBag.Message</h2>

</main>

